body{
    background-color: #ececec;
    font-family: "Roboto", sans-serif;
}
.container{ 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
} 

.bus{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    border: 1.4px solid #ccc;
    border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;  
    border-bottom-right-radius: 20px;
    background-color: #fff;
    padding-right: 16px;
    .busContainer{
        display: flex;
        align-items: center;
        ul{
            padding: 0;
        }
        ul li{
            margin:8px 8px 8px 0;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
        }
        
        .seat{
            width: 35px;
            height: 35px;
            border-radius: 12px;
            border:1.8px solid #cacbd1;
            background-color: #fcfcfc;
            &:hover{ 
                    border:1.8px solid #ade2a6!important;
                    background-color: #cdffb8!important; 
                    cursor: pointer; 
            }
            &:focus{
                border:1.8px solid #ade2a6!important;
                    background-color: #cdffb8!important; 
                    cursor: pointer; 
            }
        }
        .seatMan{ 
            border:1.8px solid #abcef3!important;
            background-color: #c8e3fd!important;
        }
        .seatWoman{ 
            border:1.8px solid #f9b1c4!important;
            background-color: #facdd8!important;
        }
        .seatSelect{
            border:1.8px solid #ade2a6!important;
            background-color: #cdffb8!important;
        }
        .seatSelected{
            border:1.8px solid #ade2a6!important;
            background-color: #cdffb8!important;
        }
        .cup{
            width: 35px;
            height: 35px;
            border:1.8px solid transparent;
            background-color: #f4f4f4;
        }
        .driver{
            margin: 6px 16px 0 32px;
        }
    }

}
.mBus{
    display: none;
    transform: rotate(90deg); 
}

.selectGender{
    position: absolute;
    display: none;
    justify-content: space-between;
    background-color: #fff;
    border:1px solid #cacbd1;
    border-radius: 20px;
    padding: 8px 10px;
    transition: 300ms;
    box-shadow: rgba(149, 157, 165, 0.244) 0px 8px 14px;
    & img{
        width: 40px;
        height: 40px;
        pointer-events: none;
    }
    & .genderMan{
        margin-right: 10px;
        cursor: pointer;
    }
    & .genderWoman{
        cursor: pointer;
    }
    .genderHidden{
        opacity: .2;
        pointer-events: none;
    }
}
.selectGenderActive{
    display: flex;
}
.ticket{ 
    position: relative;
    background-color: #fff;
    border-radius: 30px;
    margin-top:50px;
    padding: 16px 26px;
    min-width: 25%;
    opacity: 0;
    transition: 300ms;
    .ticketHead{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0 ;
        h2{
            line-height: 10px;
            font-size: 24px;
        }
        & .ticketPrice{
            font-size: 18px;
            font-weight: bold;
        }
    }
    .solids{
            border:2px dashed #ececec;

        &::before{
            content: "";
            position: absolute;
            margin-top: -12px;
            left:  0px;
            height: 24px;
            width: 18px;
            border:0;
            border-top-right-radius: 100%;
            border-bottom-right-radius: 100%; 
            background-color: #ececec;
            display: block;
        }
        &::after{
            content: "";
            position: absolute;
            margin-top: -12px;
            right:  0px;
            height: 24px;
            width: 18px;
            border:0;
            border-top-left-radius: 100%;
            border-bottom-left-radius: 100%; 
            background-color: #ececec;
            display: block;
        }
    }
    .ticketBotton{
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding: 14px 0 ;
        & h4{
            font-size: 16px;
            line-height: 10px;
            font-weight: 400;
        }
        & .duration{
            text-align: center;
            width: 100%;
            & hr{
                border:1.4px dashed #d1d1d1;
                width: 80%;
            }
        }
        & .takeoff, .arrival {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            & span{
                font-size: 14px;
                color: #767676;
            }
        } 
    }
    & .selectedSeat{
        & ul{
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
        }
        & ul li{
            margin:8px 8px 8px 0;
            list-style-type: none;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
        & .seat{
            width: 35px;
            height: 35px;
            border-radius: 12px;
            border:1.8px solid #cacbd1;
            background-color: #fcfcfc;
            &:hover{ 
                    border:1.8px solid #ade2a6!important;
                    background-color: #cdffb8!important; 
                    cursor: pointer; 
            }
            &:focus{
                border:1.8px solid #ade2a6!important;
                    background-color: #cdffb8!important; 
                    cursor: pointer; 
            }
        }
        & .seatMan{ 
            border:1.8px solid #abcef3!important;
            background-color: #c8e3fd!important;
        }
        & .seatWoman{ 
            border:1.8px solid #f9b1c4!important;
            background-color: #facdd8!important;
        }
    }
    & button{
        margin: 10px 0px;
        padding: 10px 20px;
        background-color: #76d269;
        color: #fff;
        font-size: 18px;
        width: 100%;
        border: 2px solid #8de269;
        border-radius: 20px;
        cursor:not-allowed;
    }
}
.ticketActive{
    opacity: 1!important;
    transition: 300ms;
}
